.game-container {
    position: relative;
    text-align: center;
    width: 100vw;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: scroll;
}
h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #4caf50;
}
.boosts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}
.boost {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boost span {
    font-size: 14px;
    color: #ffffff;
}
.buy-btn {
    font-family: 'Orbitron', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}
.buy-btn:hover {
    background-color: #63f068;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}
.back-btn {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #555;
    color: #ffffff;
    border: 2px solid #4caf50;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s, border-color 0.2s;
}
.back-btn:hover {
    background-color: #4caf50;
    border-color: #ffffff;
}

.backbutton{
    position: absolute;
    top: 10px;
    left: 10px;
}
